<%- include('./partials/__header'); %>

    <main>         
      
      <div class="cadastro" id="desafio">
        <h2 class="heading_cadastro">Painel de administação </h2>        
      </div>      
            

      <section class="painel-adm">        
        <a href="/cadastro" class="novo-curso">Adicionar novo curso</a>                  
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Curso</th>
                    <th>Professor</th>
                    <th>Aulas</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>                
                <% for (let servico of servicos) { %>
                    <tr>
                        <td>1</td>
                        <td><%= servico.nome %></td>
                        <td><%= servico.professor %></td>
                        <td><%= servico.aulas %></td>
                        <td><%= servico.descricao %></td>                    
                        <td>Ilustracao</td>                    
                        <td class="acoes">
                            <a href="/editar/<%= servico.id %>" class="btn"><i class="fas fa-edit"></i></a>                            
                            <a href="/excluir/<%= servico.id %>" class="btn"><i class="fas fa-trash-alt"></i></a>
                            

                        </td>
                    </tr>                

                <% } %>                
            </tbody>
        </table>        
    </section>

      
    </main>
    
    <%- include('./partials/__footer'); %>