<%- include('./partials/__header'); %>

    <main>         
      
      <div class="cadastro" id="desafio">
        <h2 class="heading_cadastro">Atualizar cursos</h2>        
        <p class="cadastro_curso">Por favor, complete formulario de cadastro.</p>
      </div>      
      
      <section class="form-container">        

        <form class="form-cadastro-curso" action="/editar/<%= curso.id %>/?_method=PUT" method="POST">
  
          <label for="nome">Título</label>
            <input type="text" name="nome" id="nome" value="<%= curso.nome %>">            

            <label for="professor">Professor</label>
            <input type="text" name="professor" id="professor" value="<%= curso.professor %>">
            
            <label for="aulas">Lista de aulas</label>
            <input type="text" name="aulas" id="aulas" value="<%= curso.aulas %>">

            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao"><%=curso.descricao %> </textarea>

            <% if(curso.ilustracao) { %>
              <img class="thumb" src="/uploads/<%= curso.ilustracao %>">
              <% } %>
            
            <input type="file" name="ilustracao" id="ilustracao">

            <button type="submit">Atualizar</button>
        
          </form>
        

      </section>
    </main>
    
    <%- include('./partials/__footer'); %>