<%- include('./partials/__header'); %>

    <main>         
      
      <div class="cadastro" id="desafio">
        <h2 class="heading_cadastro">Lista de cursos cadastrados</h2>        
      </div>      
        
        <section class="cursos">                        
          <% for (let curso of cursos) { %> 
              <div class="curso">
                <div class="curso-imagen">
                  <img src="/uploads/<%=curso.ilustracao%>" alt="">
                </div> <!--curso-imagen-->
                
                                
                <div class="nome-curso">
                  <h3>Detalhes do curso</h3>                                      
                    <p>Curso: <%= curso.nome %> </p>
                    <p>Professor <%= curso.professor %></p>
                    <p>Aulas <%= curso.aulas %></p>
                    <p>Descricao <%= curso.descricao %></p>                    
                </div> <!--nome-curso-->
            </div>  <!--curso-->                                      
            <% } %>        
          </section>
        
        
    </main>
    
    <%- include('./partials/__footer'); %>